/* Created by Zhongli Zhao */
* {margin:0}

body {
  background: white;
  font-family:Calibri, Verdana, Arial, Helvetica, sans-serif;
  font-size:10pt;
  color:black;
}

#main {
  width: auto;
  margin:0;
 }

#menu {
  display: none;
}
  #menu ul {display: none;}
  #menu li {display: none;}
  
  #menu a {
    display: none;
  }
#printheader{
	display: block;
	text-align:center;
	float: none  !important;
	padding-top:10px;
	padding-bottom:0;	
	} 
  
#header {
 
 display: none;
    }
  #header a {display :none;}
  
#content {
  width:auto;
  float:left;
  padding-left:46px;
}

.article {
  width:auto;
  }


  .heading a {
    display:none;
  }
  
  
  .article_footer {
    display:none;
  }
  

#footer {
  display:none;
}

.clear {
 display:none;
}